@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
    overflow: hidden;
}

.app-title-a {
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0% 2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    outline: none;
    padding: 4px;
    color: inherit;
    text-decoration: dashed;
}

.app-title-a:hover,
.app-title-a:focus {
    background-size: 100% 2em;
}

.app-title {
    text-align: center;
}

.new-window {
    height: 1rem;
}

.lobster {
    height: 2rem;
}

.app-details {
    font-size: 25px;
    font-weight: 500;
}

.info {
    position: absolute;
    width: 30vw;
    height: 30vh;
    background: rgba(100, 100, 100, 0.9);
    z-index: 1;
    top: 2rem;
    left: 2rem;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 2em;
}

.boxContainer {
    width: 600px;
    font-family: Quicksand;
    perspective: 1000px;
    perspective-origin: top left;
    cursor: grab;
}

.box {
    position: relative;
    padding: 5em;
    transform-style: preserve-3d;
    height: 600px;
    transform-origin: center center -300px;
}

.perspective-shift {
    animation: perspectiveShift 5s 1 ease-out;
}

.spin {
    animation: spin 5s 1 ease-out;
}

.front,
.back,
.left,
.right,
.top,
.bottom {
    padding: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    background-color: whitesmoke;
    border: 3px solid grey;
}

.front {
    background-image: linear-gradient(whitesmoke, rgb(148, 162, 209));
}

.back {
    transform: translateZ(-600px) rotateY(0.5turn);
    background-color: #808080;
}

.back .app-title-a {
    background-image: linear-gradient(#c2185b, #c2185b);
}

.left {
    transform: rotateY(-0.25turn) translateX(-300px) translateZ(300px);
    background-color: #fffacd;
    background-image: url(https://media.giphy.com/media/245otAim3vNmy59B4d/giphy.gif);
    background-size: cover;
}

.right {
    transform: rotateY(0.25turn) translateX(300px) translateZ(300px);
    background-color: #ffa07a;
}

.top {
    background-color: black;
    color: white;
    transform: rotateX(0.25turn) translateZ(300px) translateY(-300px);
    background-image: url(https://media.giphy.com/media/I38qmkMXsMOFKsuer9/giphy.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 300px;
}

.top .app-title-a {
    background-image: linear-gradient(orange, orange);
}

.top .app-title {
    font-family: "Major Mono Display";
}

.top .app-details {
    font-family: "Roboto Mono";
}

.bottom {
    background-image: url("assets/csn-logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 200px;
    background-color: white;
    transform: rotateX(0.75turn) translateZ(300px) translateY(300px);
}

.bottom .app-title-a {
    background-image: linear-gradient(#7178e3, #7178e3);
}

.center {
    text-align: center;
}

.spin-button {
    font-size: 2em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: white;
    width: 100px;
    outline: none;
}

.spin-button-content {
    transition:
        transform 1s ease-in-out,
        background-size 0.2s ease-in-out;
    background-image: linear-gradient(black, black);
    background-size: 0% 2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

.spin-button-content:hover,
.spin-button-content:focus {
    transform: rotateX(360deg);
    color: white;
    background-size: 100% 2em;
}

@keyframes spin {
    0% {
        transform: rotateX(-20deg) rotateY(20deg) translateY(0px);
    }

    50% {
        transform: rotateX(40deg) rotateY(380deg) translateY(-200px);
    }

    100% {
        transform: rotateX(-20deg) rotateY(740deg) translateY(0px);
    }
}

@keyframes perspectiveShift {
    0% {
        perspective: 1000px;
        perspective-origin: top left;
    }

    50% {
        perspective: 1500px;
        perspective-origin: bottom left;
    }

    100% {
        perspective: 1000px;
        perspective-origin: top left;
    }
}

@media screen and (max-width: 1000px) {
    .boxContainer {
        width: 300px;
    }

    .box {
        height: 300px;
        transform-origin: center center -150px;
    }

    .front,
    .back,
    .left,
    .right,
    .top,
    .bottom {
        padding: 1em;
    }

    .back {
        transform: translateZ(-300px) rotateY(0.5turn);
    }

    .left {
        transform: rotateY(-0.25turn) translateX(-150px) translateZ(150px);
    }

    .right {
        transform: rotateY(0.25turn) translateX(150px) translateZ(150px);
    }

    .top {
        transform: rotateX(0.25turn) translateZ(150px) translateY(-150px);
        background-position-y: 150px;
    }

    .bottom {
        transform: rotateX(0.75turn) translateZ(150px) translateY(150px);
        background-position-y: 100px;
    }

    .app-details {
        font-size: 0.7em;
        font-weight: 500;
    }

    .app-title {
        font-size: 1em;
    }

    .spin-button {
        font-size: 1em;
        width: 60px;
    }

    .lobster {
        height: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .boxContainer {
        width: 200px;
    }

    .box {
        height: 200px;
        transform-origin: center center -100px;
    }

    .front,
    .back,
    .left,
    .right,
    .top,
    .bottom {
        padding: 0.5em;
    }

    .back {
        transform: translateZ(-200px) rotateY(0.5turn);
    }

    .left {
        transform: rotateY(-0.25turn) translateX(-100px) translateZ(100px);
    }

    .right {
        transform: rotateY(0.25turn) translateX(100px) translateZ(100px);
    }

    .top {
        transform: rotateX(0.25turn) translateZ(100px) translateY(-100px);
        background-position-y: 100px;
    }

    .bottom {
        transform: rotateX(0.75turn) translateZ(100px) translateY(100px);
        background-position-y: 70px;
    }

    .app-details {
        font-size: 0.5em;
        font-weight: 500;
    }

    .app-title {
        font-size: 0.6em;
    }

    .spin-button {
        font-size: 0.5em;
        width: 40px;
    }

    .lobster {
        height: 0.5rem;
    }

    .new-window {
        height: 0.5rem;
    }
}
