@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
    overflow: hidden;
}

.app-title-a {
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0% 2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    outline: none;
    padding: 4px;
    color: inherit;
    text-decoration: dashed;
}

.app-title-a:hover,
.app-title-a:focus {
    background-size: 100% 2em;
}

.app-title {
    text-align: center;
}

.new-window {
    height: 1rem;
}

.lobster {
    height: 2rem;
}

.app-details {
    font-size: 25px;
    font-weight: 500;
}

.info {
    position: absolute;
    width: 30vw;
    height: 30vh;
    background: rgba(100, 100, 100, 0.9);
    z-index: 1;
    top: 2rem;
    left: 2rem;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 2em;
}

.boxContainer {
    width: 600px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    perspective: 1000px;
    perspective-origin: top left;
    cursor: grab;
}

.box {
    position: relative;
    padding: 5em;
    transform-style: preserve-3d;
    height: 600px;
    transform-origin: center center -300px;
}

.perspective-shift {
    animation: perspectiveShift 5s 1 ease-out;
}

.spin {
    animation: spin 5s 1 ease-out;
}

.front,
.back,
.left,
.right,
.top,
.bottom {
    padding: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    background-color: lightblue;
    border: 3px solid grey;
}

.back {
    transform: translateZ(-600px) rotateY(0.5turn);
}

.left {
    transform: rotateY(-0.25turn) translateX(-300px) translateZ(300px);
    background-color: #fffacd;
    background-image: url(https://media.giphy.com/media/245otAim3vNmy59B4d/giphy.gif);
    background-size: cover;
    font-family: Quicksand;
}

.right {
    transform: rotateY(0.25turn) translateX(300px) translateZ(300px);
    background-color: #ffa07a;
    font-family: Quicksand;
}

.top {
    background-color: black;
    color: white;
    transform: rotateX(0.25turn) translateZ(300px) translateY(-300px);
    background-image: url(https://media.giphy.com/media/I38qmkMXsMOFKsuer9/giphy.gif);
    background-size: cover;
}

.bottom {
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateX(0.75turn) translateZ(300px) translateY(300px);
}

.center {
    text-align: center;
}

.spin-button {
    font-size: 2em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: white;
    width: 100px;
    transition: transform 1s ease-in-out, background-size 0.2s ease-in-out;
    background-image: linear-gradient(black, black);
    background-size: 0% 2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    outline: none;
}

.spin-button:hover,
.spin-button:focus {
    transform: rotateZ(360deg);
    color: white;
    background-size: 100% 2em;
}

@keyframes spin {
    0% {
        transform: rotateX(-20deg) rotateY(20deg) translateY(0px);
    }

    50% {
        transform: rotateX(40deg) rotateY(380deg) translateY(-200px);
    }

    100% {
        transform: rotateX(-20deg) rotateY(740deg) translateY(0px);
    }
}

@keyframes perspectiveShift {
    0% {
        perspective: 1000px;
        perspective-origin: top left;
    }

    50% {
        perspective: 1500px;
        perspective-origin: bottom left;
    }

    100% {
        perspective: 1000px;
        perspective-origin: top left;
    }
}

@media screen and (max-width: 800px) {
    .boxContainer {
        transform: scale3d(0.5, 0.5, 0.5);
    }
}

@media screen and (max-width: 400px) {
    .boxContainer {
        transform: scale3d(0.2, 0.2, 0.2) translateX(-40%);
    }
}